<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Google web fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="styles/settings.css" />
    <!--[if IE 8]>
		  <link rel="stylesheet" href="css/settings-ie8.css">
		<![endif]-->
    <link rel="stylesheet" href="styles/animate.min.css" />
    <link rel="stylesheet" href="styles/prettyPhoto.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <!--[if IE 8]>
		  <link rel="stylesheet" href="css/style-ie.css">
		<![endif]-->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
  </head>
  <body ng-app="movieAppApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="out-container">
       <div class="outer">
         <!-- Sidebar starts -->
         <div class="sidebar">
           <!-- Logo starts -->
           <div class="logo">
              <h1><a href="index.html">MovieApp</a></h1>
           </div>
           <!-- Logo ends -->

           <!-- Sidebar search -->
            <div class="sidebar-search">
               <form class="form-inline" role="form" ng-controller="HeaderCtrl">
                  <div class="input-group">
                     <input ng-model="query" type="text" class="form-control" id="s" placeholder="Type Here to Search...">
                     <!-- Search button -->
                     <span class="input-group-btn">
                       <button class="btn btn-default" type="submit" ng-click="searchAction()"><i class="fa fa-search"></i></button>
                     </span>
                   </div>
               </form>
            </div>
           <!-- Sidebar search -->

           <!-- Sidebar navigation starts -->
           <div class="sidebar-dropdown"><a href="#">Navigation</a></div>
           <div class="sidey">
              <ul class="nav">
                  <!-- Main navigation. Refer Notes.txt files for reference. -->
                  <!-- Use the class "current" in main menu to hightlight current main menu -->
                  <li><a ng-href="#/"><i class="fa fa-home"></i> Home</a></li>
                  <li><a href="aboutus.html"><i class="fa fa-user"></i> Login</a></li>
                  <li><a href="contactus.html"><i class="fa fa-phone"></i> Contact</a></li>
              </ul>
           </div>
           <!-- Sidebar navigation ends -->

         </div>
         <!-- Sidebar ends -->

         <!-- Mainbar starts -->
         <div class="mainbar">

           <!-- Add your site or application content here -->

           <div ng-view="" autoscroll></div>

           <!-- Footer Start -->

   				<div class="footer">
   					<div class="container">
   						<!-- Footer Copyright -->
   						<div class="footer-copyright">
   							<p>&copy; Copyright 2015 - <a href="https://github.com/skay973/MovieApp">Skay973</a></p>
   						</div>
   					</div>
   				</div>
         </div>
         <!-- Mainbar ends -->

       </div>
     </div>










    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/popular.js"></script>
    <script src="scripts/services/serviceajax.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/info.js"></script>
    <script src="scripts/directives/loading.js"></script>
    <!-- endbuild -->

    <!-- vendor libraries -->
    <script src="scripts/vendor/spin.min.js"></script>

    <script src="scripts/vendor/jquery.themepunch.revolution.min.js"></script>
    <script src="scripts/vendor/jquery.themepunch.plugins.min.js"></script>
    <script src="scripts/vendor/waypoints.min.js"></script>
    <script src="scripts/vendor/isotope.js"></script>
    <script src="scripts/vendor/jquery.prettyPhoto.js"></script>
    <script src="scripts/vendor/respond.min.js"></script>
    <script src="scripts/vendor/html5shiv.js"></script>
    <script src="scripts/vendor/custom.js"></script>

    <!-- endvendor -->
  </body>
</html>
